html{
  background-color: #002881;
  background-image: url(images/back2.png);
}

main{
  background-color: #2464cbb7;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #00113677;
  max-width: 90%;
  min-width: 50%;
  margin: auto;

}

img {
  display: block;
  width: 600px;
  height: 400px; 
}
#image{
  max-width:100%;
  height: auto;
}
#img-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#img-caption {
  text-align: center;
  margin-top: 3px;
  font-size: 0.9em;
  color: white;
}

h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2{
  text-align: center;
  color: white;
}

p{
  color: white;
  text-align: justify;
  max-width: 40%;
  margin:15px auto;
  font-size: large;
  text-indent: 3%;
}

h1{
  padding-top: 15px;
}

#tribute-link{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

a{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
